.breadcrumb {
    display: flex;
    gap: .4rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;

    .divider:after {
        color: var(--grayMedium);
        content: '>';
    }

    .link {
        text-decoration: none;
        color: var(--grayMedium);
    }

    *:last-child {
        font-weight: bold;
    }
}