.cta-button {
    background-color: white;
    border-radius: 20px;
    font-size: 2rem;
    padding: 1rem 2rem;
    display: inline-block;
    text-decoration: none;
    color: var(--grayDark);
    font-weight: 100;
    margin-top: 2rem;
}