.field {
    .label {
        font-weight: bold;
        display: block;
        margin-bottom: 1rem;
    }

    .items {
        display: flex;
        gap: 10px;
    }

    .link-outline {
        text-decoration: none;
        padding: 10px 14px;
        display: inline-flex;
        border: 1px solid var(--grayMedium);
        border-radius: 100px;
        color: var(--grayDark);
    }
}

.field + .field {
    margin-top: 2rem;
}