.hero {
    max-width: var(--maxWidth);
    margin-inline: auto;
    position: relative;
    text-align: center;

    > .image {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        opacity: 1;
    }

    > .title {
        font-size: 2.5rem;
        padding: 5rem 3rem;
        z-index: 1;
        font-weight: 700;
        color: white;
        position: relative;
    }

    &.has-image {
        &:after {
            content: '';
            display: block;
            inset: 0;
            background: rgba(black, .5);
            position: absolute;
        }
    }

    &.empty {
        aspect-ratio: 10/1;
    }
}