.hero {
    max-width: 100%;
    position: relative;
    text-align: center;
    background-color: var(--color);

    > .image {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        opacity: .6;
    }

    > .title {
        font-size: 2rem;
        padding: 40px 3rem;
        z-index: 1;
        color: white;
        position: relative;
    }

    &.has-image {
        &:after {
            content: '';
            display: block;
            inset: 0;
            background: rgba(black, .5);
            position: absolute;
        }
    }

    &.empty {
        aspect-ratio: 10/1;
    }
}

@media (min-width: $tablet) {
    .hero {
        margin-inline: auto;
        max-width: var(--maxWidth);

        > .title {
            font-weight: 900;
            font-size: 2.2rem;
            margin: 0;
            border-radius: 50%;
            display: flex;
            text-align: center;
            padding: 20px;
            justify-content: center;
            align-items: center;
            width: 18rem;
            height: 18rem;
            color: black;
            top: 9rem;
            overflow: hidden;
            margin-inline: auto;
            // background-color: white;
            position: relative;

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                display: block;
                content: '';
                background-color: white;
                width: 100%;
                height: calc(100% - 60px);
            }
        }

        &.has-image {
            &:after {
                content: '';
                background: rgba(black, .3);
            }
        }
    }

    .hero + * {
        padding-top: 3rem !important;
    }
}