.site-introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    font-size: 1.7rem;

    p {
        margin: 0;
    }

    .top {
        width: 100%;
        padding-top: 2rem;
        color: white;
        position: relative;
        text-align: center;
        font-size: 2rem;
        line-height: 3rem;
        padding-bottom: 6rem;
        margin-bottom: -5rem;

        strong {
            font-family: 'Roboto Slab', serif;

        }

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(black, .5);
            z-index: -1;
        }
    }

    .title {
        padding-inline: var(--inlinePadding);
        margin-block: 1rem;
    }

    .description {
        padding-inline: var(--inlinePadding);
        width: 100%;
        font-size: 1.6rem;
        line-height: 3rem;
        font-weight: 300;
    }

    .image {
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -2;
    }


    .logo {
        padding: 30px;
        background: white;
        border-radius: 50%;
        margin-inline: auto;
    }
}