.site-header {
    display: flex;
    position: relative;
    padding: 20px;
    align-items: center;

    .site-link {
        gap: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        color: black;
        text-decoration: none;
    }

    .site-logo {
        width: 70px;
        height: 70px;
    }

    .site-title {
        margin: 0;
        font-weight: 900;
    }

    .language-switcher {
        flex: 0 0 200px;
        margin-inline-start: auto;
        z-index: 4;
        position: relative;
    }
}

.home .site-header {
    position: absolute;
    left: 0;
    right: 0;

    .site-link {
        display: none;
    }
}