.site-main {
    display: table;
    width: 100%;
    position: relative;
    padding-inline: var(--inlinePadding);
    padding-block: var(--blockPadding);

    p {
        line-height: 1.8rem;
    }

    p > img {
        float: right;
        max-width: 100%;
        margin-block-end: 2rem;
        margin-inline-start: 2rem;
        border-radius: var(--radius);

        @media (min-width: 480px) {
            width: 100%;
        }

        @media (min-width: 720px) {
            max-width: 400px;
        }
    }

    h2 {
        font-weight: 100;
    }

    h3 {
        margin-top: 2rem;
        font-weight: 100;
    }

    p a, ul a {
        color: var(--accent);
    }

    code {
        background-color: #eee;
        padding: 0 6px;
        display: inline-block;
        border-radius: 4px;

    }
}