---
import Layout from '../layouts/Layout.astro'
import { getCategories, getSiteDescriptions } from "../helpers/store"
import { Markdown } from '@astropub/md'
import Category from '../components/Category.Circle.astro'

const categories = await getCategories()
const siteDescriptions = await getSiteDescriptions()
---

<Layout title="Overview">

	{siteDescriptions.map(({description, bcp47}) => <div data-lang-hidable={bcp47}><Markdown of={description} /></div>)}
	<div class="overview grid categories">
		{categories.map(category => <Category category={category} />)}
		<div class="empty circle category"></div>
		<div class="empty circle category"></div>
		<div class="empty circle category"></div>
		<div class="empty circle category"></div>
		<div class="empty circle category"></div>
		<div class="empty circle category"></div>
	</div>
</Layout>
