---
import { getCategories, getLanguages } from "@/helpers/store"
import Category from '@/components/Category.Circle.astro'
import { image } from '@/helpers/image';
import Layout from '@/layouts/Layout.astro'
import Markdown from '@/components/Markdown.astro';

export async function getStaticPaths() {
	const languages = [...Object.keys(await getLanguages())].filter(language => language !== 'en')
	return languages.map(language => ({ params: { language }}))
}

const categories = await getCategories()
const languages = await getLanguages()
const language = languages[Astro.locals.language]
---

<Layout title="Overview" bodyClass="home">

	<div class="site-introduction" slot="hero">
		<div class="top">
			<img loading="lazy" class="image" src={image(language.background, 1280, 300)} />
			<div class="title"><Markdown of={language.welcome} /></div>
		</div>

		<div class="logo">
			<img src="/logo.svg" />
		</div>

		<div class="description">
			<Markdown of={language.description ?? ''} />
		</div>
	</div>


	<input type="search" id="grid-filter" class="search-input" placeholder="Search..." slot="default" />

	<div class="overview grid categories" id="categories-grid" slot="default">
		{categories.map(category => <Category category={category} />)}
		<div class="empty circle category"></div>
		<div class="empty circle category"></div>
		<div class="empty circle category"></div>
		<div class="empty circle category"></div>
		<div class="empty circle category"></div>
		<div class="empty circle category"></div>
		<div class="empty circle category"></div>
		<div class="empty circle category"></div>
		<div class="empty circle category"></div>
	</div>	

</Layout>

<script>
	const search = document.querySelector('#grid-filter') as HTMLInputElement

	const applySearch = (searchWord: string) => {
		const categories = [...document.querySelectorAll('#categories-grid .category:not(.empty)')]
		for (const category of categories) {
			const searchwords = (category as HTMLDivElement).dataset.searchwords
			const title = category.querySelector('.title')?.textContent?.toLocaleLowerCase()
			const text = searchwords + ' ' + title
			const visible = text.includes(searchWord.toLocaleLowerCase())

			category.classList[visible ? 'remove' : 'add']('hidden')
		}
	}

	search?.addEventListener('keyup', () => applySearch(search.value))
	applySearch(search.value)
</script>