---
const { category } = Astro.props;
import { image } from '../helpers/image'
import uniqolor from 'uniqolor';
---
<a class={`category circle ${category.image ? 'has-image' : ''}`} style={`--color: ${uniqolor(category.slug, { lightness: [10, 40] }).color}`} href={category.slug}>
    {category.image ? <img class="background-image" loading="lazy" src={image(category.image, 145)} /> : null} 

    {Object.entries(category.labels).map(([language, value]) => {
        return <h2 class="title" data-display="flex" data-lang-hidable={language}>{value}</h2>
    })}
</a>