---
import Layout from '@/layouts/Layout.astro'
import { getCategories, getLanguages } from "@/helpers/store"
import Category from '@/components/Category.Circle.astro'
import { image } from '@/helpers/image';
import Markdown from '@/components/Markdown.astro';

export async function getStaticPaths() {
	const languages = [...Object.keys(await getLanguages())] //.filter(language => language !== 'en')
	return languages.map(language => ({ params: { language }}))
}

const categories = await getCategories()
const languages = await getLanguages()
const language = languages[Astro.params.language ?? 'en']
---

<Layout title="Overview" bodyClass="home">

	<div class="site-introduction">
		<div class="top">
			<img loading="lazy" class="image" src={image(language.background, 1280, 300)} />
			<div class="title"><Markdown of={language.welcome} /></div>		
		</div>

		<div class="logo">
			<img src="/logo.svg" />
		</div>

		<div class="description">
			<Markdown of={language.description ?? ''} />
		</div>
	</div>

	<main class="site-main">
		<div class="overview grid categories">
			{categories.map(category => <Category category={category} />)}
			<div class="empty circle category"></div>
			<div class="empty circle category"></div>
			<div class="empty circle category"></div>
			<div class="empty circle category"></div>
			<div class="empty circle category"></div>
			<div class="empty circle category"></div>
			<div class="empty circle category"></div>
			<div class="empty circle category"></div>
			<div class="empty circle category"></div>
		</div>	
	</main>

</Layout>
