---
import { getLanguages, getTranslationPercentage, percentageHandler } from "../helpers/getCategories";
const languages = await getLanguages()
---
<select class="language-switcher form-select" id="language-switcher" aria-label="Default select example">
    {Object.entries(languages).map(async ([langcode, label]) => {
        return <option value={langcode} data-lang-not_available={langcode}>{label + await percentageHandler(langcode, await getTranslationPercentage(langcode))}</option>
    })}
</select>

<script>
    const languageSwitcher = document.querySelector('#language-switcher')!
    const selectedOption = languageSwitcher.querySelector(`option[value="${localStorage.langCode}"]`)
    
    selectedOption?.setAttribute('selected', '')

    languageSwitcher.addEventListener('change', (event: any) => {
        localStorage.langCode = event.target.value
        window.refresh()
    })
</script>
