---
import MenuItem from "./MenuItem.astro";
---
<nav class="main-menu">
    <MenuItem link="/">Home</MenuItem>
    <MenuItem link="/download">Download</MenuItem>
    <MenuItem link="/goal">Goal</MenuItem>
</nav>
