body {
    background-color: var(--grayLight);
}

.site-main, 
.site-header, 
.site-introduction, 
.page-hero, 
.main-menu,
.site-footer {
    max-width: var(--maxWidth);
    margin-inline: auto;
    background-color: white;
    display: block;
    position: relative;
}

body, html {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;

    > * {
        width: 100%;
    }
}

body {
    &:after {
        content: '';
        display: block;
        width: 100%;
        max-width: var(--maxWidth);
        background-color: white;
        height: 100vh;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
}