$tablet: 720px;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600;900&family=Roboto:wght@300;400;900&display=swap');

@import './layout';
@import './components/circle';
@import './components/grid';
@import './components/site-header';
@import './components/site-introduction';
@import './components/language-switcher';
@import './components/hero';
@import './components/field';
@import './components/search-input';
@import './components/main-menu';
@import './components/site-main';
@import './components/breadcrumb';
@import './components/site-footer';
@import './components/cta-button';

* {
    box-sizing: border-box;
}

:root {
    --grayDark: #3a3939;
    --grayMedium: #bdbdbd;
    --grayLight: #e9e9e9;
    --accent: #1c75bc;
    --inlinePadding: 16px;
    --blockPadding: 20px;
    --maxWidth: 1080px;
    --radius: 6px;
}

@media (min-width: $tablet) {
    :root {
        --inlinePadding: 32px;
        --blockPadding: 32px;
    }
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 14px;
}

@media (min-width: $tablet) {
    html {
        font-size: 18px;
    }
}

.site-title {
    font-family: 'Roboto Slab', serif;
}

